* {
    background-color: #80e6e0
}


h1{
    background-color: aqua;
    text-align: center;
}


h2{
    display: inline;
    justify-content: center;
    background-color: aquamarine;
    text-align: center;
    border-bottom: 5px solid #7a0000;
    margin: auto;
}


figure {
    border-style: ridge;
    display: inline-block;
    flex-flow: column;
    padding: 5px;
    max-width: 550px;
    margin: 20px auto;
}



figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
}
