* {
    background-color: #80e6e0
}


h1{
    text-align: center;
}

h1 span {
    background-color: #030d8a;
    color: #ffffff;
}


h2{
    text-align: center;
    }

h2 span {
    background-color: #030d8a;
    color: #ffffff;
}


p{
    font-size: 18px;
}


hr{
    border-bottom: 5px solid #7a0000;
}

.pix-galery{
    text-align: center
}

img {
    width: 100%;  
    height: auto;
}
    
figure {
    border-style: ridge;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 20px auto;
}


figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
}





