* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #80e6e0
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20px auto;
    background-color: #003366;
    color: #ffffff;
    padding: 10px 10px;
    text-transform: uppercase;
    
}


h3 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}



#title {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

.gallery {
    text-align: center;
    margin-bottom: 20px;
}

.pix-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}

.pix-gallery figure {
    flex: 1 1 300px; /* Grow, shrink, and set a base width */
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 400px; /* Set a maximum width for uniformity */
}

.pix-gallery img {
    width: 100%;
    height: 300px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    display: block;
    margin: 0 auto;
}

.one-pic {
    width: 60%;
    margin: 0 auto;
}

img {
    width: 100%;  
    height: auto;
}
    
figure {
    border-style: ridge;
    padding: 5px;
    margin: 20px auto;
}


figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    background-color: #003366;
    color:#fff;
    padding: 15px;
}

footer p {
    text-align: center;
}







